/*
    Application main style
    author: sarawutt.b
    since: 2108-03-30
*/
@import url(../fonts/thsarabun/thsarabunnew.css);
*{ font-family: 'THSarabunNew', sans-serif; }
.form-group{margin-bottom: 25px;}
.ui-pakgon-text-error,.invalid-feedback{
    color:#f00;
    font-size:1em;
    font-weight:bold;
    padding-left:3px;
    margin:10px 0;
}
.ui-pakgon-input-error,.invalid-feedback lead{
    color:#000 !important;
    font-weight: bold;
}
.actions{
    width: 13%;
    text-align: center;
    color: #3C8DBC;
}
.actions a {
    margin-right: 10px;
}
.long-action{
    text-align: center;
    color: #3C8DBC;
}
div.permission-lists div.icheckbox_minimal,.icheckbox_minimal-blue{margin: 0 10px 0 2px;}
div.checkbox-table-striped:nth-of-type(odd),div.checkbox-table-striped:nth-of-type(even){padding: 8px;}
div.checkbox-table-striped:nth-of-type(odd){background-color: #F9F9F9;}
/*div.checkbox-table-striped:nth-of-type(even){background-color: #F9F9F9;}*/
td.main-status,th.main-status{width: 20px !important;background-color: #f00;}
label.radio-inline{font-weight: bold;}
/*.simple-input label{text-align: left;}*/

.icheckbox_minimal-blue{margin: 0 10px 0 2px;}
div.submit input[type='submit'],div.submit input[type='button'],div.submit button{
    margin-right: 10px;
}
i.fa{
    margin-right:10px;
}
#loading-indicator {
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999;
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
#loading-indicator img{
    position: absolute;
    width: 120px;
    left:50%;
    top:50%;
}
.separate-button{
    margin-left: 10px;
}
.money, .thai-money,text-right{
    text-align: right !important;
}
.red-star{
    margin-left: 3px; color: red;
}
.notfound,.row-notfound,.row-notfound>td{font-weight: bold;color: #f00;text-align: center;}
.nindex,.nindex-black{text-align: center;width: 6%;}
.nindex,.nindex-checkbox.th-nolink{color: #3c8dbc;}
.nindex-black{color:#333;}
.nindex-checkbox,.nindex-black-checkbox{width : 8%;}

.text-bold{
    font-weight: bold;
}
.gap{
    margin: 10px 0;
}
.btn,button,input[type='submit']{
    font-weight: bold;
}
.pakgon-label{
    font-weight: bold !important;
}
.invalid-feedback,
.valid-feedback {
    font-weight: bold;
}
.toast-message{
/*Center*/
}
.toast-close-button{
    /*center*/
}
.select2-container--bootstrap4 .select2-selection--single {
    height: calc(2.25rem + 10px);
    line-height: 1.9 !important;
}
::-webkit-input-placeholder {
	padding-top: 6px;
}

/* --- profiles + Card connect --- */
.box-card {
    border: 1px solid #ccc;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #ccc;
    font-size: 13px;
    cursor: pointer; 
    padding-right: 10px; 
    padding-left: 10px;
}

.box-card label{
    font-size: 15px;
}

.box-card #box-img-profile{
    position: absolute; 
    top:0; 
    right:0;
    width: 30%;
    padding-right:15px;
}

.box-arrow {
    font-size: 36px;
    padding-top: 20%;
    cursor: pointer;
}

.box-arrow.left {
    text-align: right;
    padding-left:2px;
    padding-right:2px;
}

.box-arrow.right {
    padding-left:2px;
    padding-right:2px;
}

.modal-content-card {
    pointer-events: auto;
    margin: auto;
    padding: auto;
    position: relative;
    padding-top: 10px;
    margin-top: 5px;
}

.modal-content-card .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff !important;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 10px;
    text-align: center;
    z-index: 9999;
    border: 2px solid #fff;
}

.modal-content-card .close-modal:hover {
    text-decoration: none;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: rl-tb;
    white-space: nowrap;
    position: absolute;   
    display: block;
    z-index: 3999;
}

.card-connect {
    color: #fff;
    font-size: 30px;
}

.card-connect .qrcode-profile {
    width: 420px;
    margin: 70% 0% 0% -40%;
}

.card-connect .qrcode-name {
    position: absolute;
    margin: 50% 0% 0% 40%;
}

.img-qrcode img {
    position: absolute;
    width: 120px;
    border: solid 1px #000;
}

@media screen and (min-width: 1024px) {
    .modal-content-card .close-modal {
        margin-right: 100px;
    }
}

/* --- add card --- */
.add-card-message{
    font-size: 1em;
    font-weight: bold !important;
    padding-left: 3px;
    margin: 10px 0;
}
.add-card-message-true{
    color:green;
}
.add-card-message-error{
    color: #f00;
}