{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}


    /**
     *
     * Delete method make for delete record of {{ singularHumanName }}.
     *
     * @author  sarawutt.b
     * @param   string|null $id {{ singularHumanName }} id.
     * @return  \Cake\Http\Response|null Redirects to index.
     * @throws  \Cake\Datasource\Exception\RecordNotFoundException When record not found.
     * @since   {{ "now"|date('Y/m/d H:i:s') }}
     * @license Pakgon.Ltd
     */
    public function delete($id = null) {
        $this->request->allowMethod(['post', 'delete']);
        if (!$this->{{ currentModelName }}->exists(['id' => $id])) {
            $this->Flash->warning(__('Invalid not found requested {{ singularHumanName|lower }}, Please try again!.'));
            return $this->redirect(['action' => 'index']);
        }
        
        ${{ singularName }} = $this->{{ currentModelName }}->get($id);
        $respond = [];
        
        if ($this->{{ currentModelName }}->delete(${{ singularName }})) {
            $respond = $this->buildRequestRespond(__('The {{ singularHumanName|lower }} has been deleted.'), 'OK');
        } else {
            $respond = $this->buildRequestRespond(__('The {{ singularHumanName|lower }} could not be deleted. Please, try again.'), 'ERROR');
        }
        
        if ($this->request->is('ajax')) {
            echo json_encode($respond);
            exit;
        } else {
            $this->Flash->{$respond['class']}($respond['message']);
            return $this->redirect(['action' => 'index']);
        }
    }
