/*
    Application main style
    author: sarawutt.b
    since: 2108-03-30
*/
@import url(../fonts/thsarabun/thsarabunnew.css);
*{ font-family: 'THSarabunNew', sans-serif; }
.form-group{margin-bottom: 25px;}
.ui-pakgon-text-error,.invalid-feedback{
    color:#f00;
    font-size:1em;
    font-weight:bold;
    padding-left:3px;
    margin:10px 0;
}
.ui-pakgon-input-error,.invalid-feedback lead{
    color:#000 !important;
    font-weight: bold;
}
.actions{
    width: 13%;
    text-align: center;
    color: #3C8DBC;
}
.actions a {
    margin-right: 10px;
}
.long-action{
    text-align: center;
    color: #3C8DBC;
}
div.permission-lists div.icheckbox_minimal,.icheckbox_minimal-blue{margin: 0 10px 0 2px;}
div.checkbox-table-striped:nth-of-type(odd),div.checkbox-table-striped:nth-of-type(even){padding: 8px;}
div.checkbox-table-striped:nth-of-type(odd){background-color: #F9F9F9;}
/*div.checkbox-table-striped:nth-of-type(even){background-color: #F9F9F9;}*/
td.main-status,th.main-status{width: 20px !important;background-color: #f00;}
label.radio-inline{font-weight: bold;}
/*.simple-input label{text-align: left;}*/

.icheckbox_minimal-blue{margin: 0 10px 0 2px;}
div.submit input[type='submit'],div.submit input[type='button'],div.submit button{
    margin-right: 10px;
}
i.fa{
    margin-right:10px;
}
#loading-indicator {
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999;
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
#loading-indicator img{
    position: absolute;
    width: 120px;
    left:50%;
    top:50%;
}
.separate-button{
    margin-left: 10px;
}
.money, .thai-money,text-right{
    text-align: right !important;
}
.red-star{
    margin-left: 3px; color: red;
}
.notfound,.row-notfound,.row-notfound>td{font-weight: bold;color: #f00;text-align: center;}
.nindex,.nindex-black{text-align: center;width: 6%;}
.nindex,.nindex-checkbox.th-nolink{color: #3c8dbc;}
.nindex-black{color:#333;}
.nindex-checkbox,.nindex-black-checkbox{width : 8%;}

.text-bold{
    font-weight: bold;
}
.gap{
    margin: 10px 0;
}
.btn,button,input[type='submit']{
    font-weight: bold;
}
.pakgon-label{
    font-weight: bold !important;
}
.invalid-feedback,
.valid-feedback {
    font-weight: bold;
}
.toast-message{
/*Center*/
}
.toast-close-button{
    /*center*/
}
img.icon-pakgon-list{
    width: 28px;
    height: 28px;
}