{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
namespace {{ namespace }}\Controller\Component;

use Cake\Controller\Component;
use Cake\Controller\ComponentRegistry;

 /**
 * 
 * {{ name }} component
 * @author  sarawutt.b
 * @since   {{ "now"|date('Y/m/d H:i:s') }}
 * @license Pakgon.Ltd
 */
class {{ name }}Component extends Component
{

    /**
     * 
     * Default configuration.
     * @var array property of the component
     */
    protected $_defaultConfig = [];
}
