{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set allAssociations = Bake.aliasExtractor(modelObj, 'BelongsTo') %}
{% set allAssociations = allAssociations|merge(Bake.aliasExtractor(modelObj, 'BelongsToMany')) %}
{% set allAssociations = allAssociations|merge(Bake.aliasExtractor(modelObj, 'HasOne')) %}
{% set allAssociations = allAssociations|merge(Bake.aliasExtractor(modelObj, 'HasMany')) %}

    /**
     *
     * View method make for view information of {{ singularHumanName }}.
     *
     * @author  sarawutt.b
     * @param   string|null $id {{ singularHumanName }} id.
     * @return  \Cake\Http\Response|void
     * @throws  \Cake\Datasource\Exception\RecordNotFoundException When record not found.
     * @since   {{ "now"|date('Y/m/d H:i:s') }}
     * @license Pakgon.Ltd
     */
    public function view($id = null) {
        if (!$this->{{ currentModelName }}->exists(['id' => $id])) {
            $this->Flash->warning(__('Invalid not found requested {{ singularHumanName|lower }}, Please try again!.'));
            return $this->redirect(['action' => 'index']);
        }
        
        ${{ singularName }} = $this->{{ currentModelName }}->get($id, [
            'contain' => [{{ Bake.stringifyList(allAssociations, {'indent': false})|raw }}]
        ]);
        $this->set('{{ singularName }}', ${{ singularName }});
        $this->set('_serialize', ['{{ singularName }}']);
    }
