<?php

 /**
  *
  * The template view for view as of namePrefixes controller the page show for namePrefixes information.
  *
  * @author  sarawutt.b
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\NamePrefix $namePrefix
  * @since  2018-04-20 18:18:12
  * @license Pakgon.Ltd
  */
?>
<div class="namePrefixes view namePrefixes-view box box-info box-view">
    <?php echo $this->element('utility/boxOptionHeader', ['btitle' => __('Name Prefix Management System => ({0} information)', h($namePrefix->name)), 'bicon' => 'fa-info', 'bcollapse' => true, 'bclose' => true]); ?>
    <div class="box-body table-responsive">
        <table class="table table-bordered table-striped table-view-information">
                                <tr>
                <td class="table-view-label"><?php echo __('Name Prefixes Name'); ?></td>
                <td class="table-view-detail"><?php echo h($namePrefix->name); ?></td>
            </tr>
                                        <tr>
                <td class="table-view-label"><?php echo __('Name Prefixes Name Eng'); ?></td>
                <td class="table-view-detail"><?php echo h($namePrefix->name_eng); ?></td>
            </tr>
                                        <tr>
                <td class="table-view-label"><?php echo __('Long Name'); ?></td>
                <td class="table-view-detail"><?php echo h($namePrefix->long_name); ?></td>
            </tr>
                                        <tr>
                <td class="table-view-label"><?php echo __('Status'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->getMainStatus($namePrefix->status, true); ?></td>
            </tr>
                                                        <tr>
                <td class="table-view-label"><?php echo __('Name Prefixes Id'); ?></td>
                <td class="table-view-detail"><?php echo h($namePrefix->id); ?></td>
            </tr>
                                        <tr>
                <td class="table-view-label"><?php echo __('Create Uid'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->getUserFullnameById($namePrefix->create_uid); ?></td>
            </tr>
                                        <tr>
                <td class="table-view-label"><?php echo __('Update Uid'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->getUserFullnameById($namePrefix->update_uid); ?></td>
            </tr>
                                                <tr>
                <td class="table-view-label"><?php echo __('Created'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->dateTimeISO($namePrefix->created); ?></td>
            </tr>
                                <tr>
                <td class="table-view-label"><?php echo __('Modified'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->dateTimeISO($namePrefix->modified); ?></td>
            </tr>
                            </table>
    </div><!-- ./box-body -->
    <?php echo $this->element('utility/boxOptionFooter'); ?>
</div><!-- ./roles view rols-view box box-info box-view -->

</div><!-- ./related div-box-related -->
