
    <?php if (!empty($touristAttraction_find_id)): ?>
        <!-- <div class="col-lg-9 pull-lg-3 col-md-12"> -->
<div class="row" >
  <div class="col-12 col-md-8 offset-md-2">
        <div class="row">
          <div class="col-12">
              <?php foreach ($touristAttraction_find_id as $touristAttraction_find_id): ?>
                  <div class="bg-white p-relative">
                      <div class="card-block post-timelines">
                          <!-- <div class="media-middle friend-box float-left">
                              <a href="/tourist-attraction/bloc/<?php echo $touristAttraction_find_id->id; ?>">
                                  <?php echo $this->Html->image($MasterProvince['0']['logo_of_province'], ['class' => 'media-object rounded-circle','style'=>'width:100px; height:100px;']); ?>
                              </a>
                          </div> -->
                          <div class="media-middle friend-box float-left">
                              <a href="/tourist-attraction/bloc/<?php echo $touristAttraction_find_id->id; ?>">
                                  <?php echo $this->Html->image($touristAttraction_find_id['path_picture_tourist_attraction'], ['class' => 'media-object rounded-circle','style'=>'width:100px; height:100px;']); ?>
                              </a>
                          </div>
                          <div class="media-middle friend-box float-center">
                              <h2><?php echo $touristAttraction_find_id['name']; ?></h2>
                          </div>
                          <div class="media-middle friend-box float-center">
                              <?php echo __("Province") . $MasterProvince['0']['province_name_th']; ?>
                          </div>
                          <div class="media-middle friend-box float-bottom">
                              <?php echo $this->Utility->thaiDateFullMonth($create_time); ?>
                              
                          </div>
                      </div>

                  </div>
                  <!-- <div class="p-10"></div> -->
              <?php endforeach; ?>
      <?php endif; ?>
            </div>
          </div>
          <div class="row" id="addimg">
            <!-- <div class="col-12"> -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <!-- <div class="img-w"> -->
                        <input type="image" src="/img/1000x1000/photo_add_image_by_porspch.jpg" class="img-fluid"/>
                        <input type="file" id="uploadImage" multiple="true" style="display: none;" />
                        <!-- <input type="submit" name="submit" value="UPLOAD"/> -->
                    <!-- </div> -->
              </div>
                    <?php foreach ($getAllImage as $key => $photoupload) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <!-- <div class="img-w"> -->
                                <img class="img-fluid" src="<?php echo $photoupload['path_image'] ?>" alt=""  />
                            </div>
                        <!-- </div> -->
                    <?php } ?>
                    <!-- <div id="aaa" class="wwwwww">
                      
                    </div> -->

                    <!-- <div class="img-w">
                        <img src="https://images.unsplash.com/photo-1485766410122-1b403edb53db?dpr=1&auto=format&fit=crop&w=1500&h=846&q=80&cs=tinysrgb&crop=" alt="" />
                    </div>
                    <div class="img-w">
                        <img src="https://images.unsplash.com/photo-1485793997698-baba81bf21ab?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="" />
                    </div>
                    <div class="img-w">
                        <img src="https://images.unsplash.com/photo-1485871800663-71856dc09ec4?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=" alt="" />
                    </div> -->
                    <!-- <div class="img-w" id = "aaa"> 
                        <img src="/upload/image_tourist/gripsxuvst20181127150448abc.jpg" alt="" id = "aaa"/>
                        <img id = "aaa"/>
                        <img id = "aaa" src="" alt="Pulpit Rock" width="284" height="213">
                    </div> -->
                    <!-- <p></p> -->
              <!-- </div> -->



                <!-- ////////////////////////////////////////// -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="img-fluid" id = "addimg">
                    </div>
                </div> -->

                <!-- <div id="addimg" >
                </div> -->
                <!-- ////////////////////////////////////////// -->

              <!-- </div> -->
            </div>
        <!-- </div> -->
        <!-- </div> -->

    </div>
</div>


<style>
    body {
  /*padding: 30px 0;*/
  /*position: relative;*/
}

.gallery {
  /*width: 100px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  position: relative;*/
}
.img-c {
  /*width: auto;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden;*/
}

.img-w {
  /*position: absolute;*/
  /*width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;*/
}

.img-w img {
  /*display: none;*/
}

.img-c {
    /*transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;*/
}

.img-c:hover .img-w {
  /*transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;*/
}

.img-c.active {
  /*width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  //transform: translateX(-50%);*/
}

.img-c.postactive {
  /*position: absolute;
  z-index: 2;
  pointer-events: none;*/
}

.img-c.active.positioned {
  /*left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;*/
}
</style>

<script>
  $(function() {
    $("input[type='image']").click(function() {
      $("input[id='uploadImage']").click();
    });

    $('#uploadImage').on('change', function() {

        var uploadImage = document.getElementById("uploadImage").files;

        //////////////////////////////
        // check type image //
        // if (uploadImage != '') {
            // if(name[0].type == 'image/jpeg' || name[0].type == 'image/bmp'){
            //     if (name[0].size > 10250000) {
            //         $('#largeModal').modal('show');
            //         $('#largeModalBodyText').text('กรุณาเพิ่มไฟล์ขนาดไม่เกิน 10 MB');
            //         document.getElementById("#uploadImage-input").value = '';
            //     }
            // }else{
            //     $('#largeModal').modal('show');
            //     $('#largeModalBodyText').text('กรุณาเพิ่มไฟล์ประเภท jpeg หรือ bmp');
            //     document.getElementById("#uploadImage-input").value = '';
            // }
        // }
        //////////////////////////////

        var data = new FormData($('#uploadImage'));
        // for( var i = -1; i<uploadImage['length']-1; i++){
        jQuery.each($('#uploadImage')[0].files, function(i, file) {
            data.append(i, file);
        });
        // }
        var id = "<?php echo $touristAttraction_find_id['id']; ?>";
        data.append('id_tourist_attraction',id);
        $.ajax({
          url: '/tourist-attraction/uploadMultiImage',
          data : data,
          cache: false,
          contentType: false,
          processData: false,
          type: 'POST',
          success: function(data){
              var result_success = jQuery.parseJSON(data);
              result_success.forEach(function(result) {
              var img_src = result;
              

              ////////////////////
              // tmp old_version
              // var tmp = '<div class="img-c"><div class="img-w"  id = "aaa" style="background-image: url(/upload/image_tourist/'+ img_src +');"></div></div>';
              ////////////////////

              var tmp = '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><img class="img-fluid" src="/upload/image_tourist/'
              + img_src +'" alt=""></div>';

              $("#addimg").append(tmp);
              });
           }
        });

      });

    $(".img-w").each(function() {
      $(this).wrap("<div class='img-c'></div>")
      let imgSrc = $(this).find("img").attr("src");
       $(this).css('background-image', 'url(' + imgSrc + ')');
    })
              
    $(".img-c").click(function() {
      let w = $(this).outerWidth()
      let h = $(this).outerHeight()
      let x = $(this).offset().left
      let y = $(this).offset().top






      
      // $(".active").not($(this)).remove()
      // let copy = $(this).clone();
      // copy.insertAfter($(this)).height(h).width(w).delay(500).addClass("active")
      // $(".active").css('top', y - 8);
      // $(".active").css('left', x - 8);
      
    //     setTimeout(function() {
    //   copy.addClass("positioned")
    // }, 0)
      
    }) 
  
})

// $(document).on("click", ".img-c.active", function() {
//   let copy = $(this)
//   copy.removeClass("positioned active").addClass("postactive")
//   setTimeout(function() {
//     copy.remove();
//   }, 500)
// })
</script>

<script> 
    // $(document).ready(function(){
    //     $('#uploadForm').ajaxForm({
    //         target:'#imagesPreview',
    //         beforeSubmit:function(){
    //             $('#uploadStatus').html('<img src="uploading.gif"/>');
    //         },
    //         success:function(){
    //             $('#images').val('');
    //             $('#uploadStatus').html('');
    //         },
    //         error:function(){
    //             $('#uploadStatus').html('Images upload failed, please try again.');
    //         }
    //     });
    // });
</script> 