<!DOCTYPE html>
<html>
<head>
  <title>Custom Legend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    
    #map {
                height: 580px;
                width: 900px;
              }
    /*#legend {
      font-family: Arial, sans-serif;
      background: #fff;
      padding: 10px;
      margin: 10px;
      border: 3px solid #000;
    }
    #legend h3 {
      margin-top: 0;
    }
    #legend img {
      vertical-align: middle;
    }*/
  </style>
</head>
<body>
  <div id="map"></div>

</body>
</html>
<!-- Font Awesome -->
<?php echo $this->Html->css('/node_modules/font-awesome/css/font-awesome.min.css');?>
<!-- Bootstrap core CSS -->
<?php echo $this->Html->css('/node_modules/mdbootstrap/css/bootstrap.min.css'); ?>
<!-- Material Design Bootstrap -->
<?php echo $this->Html->css('/node_modules/mdbootstrap/css/mdb.min.css'); ?>
<!-- Your custom styles (optional) -->
<?php echo $this->Html->css('/node_modules/mdbootstrap/css/style.css'); ?>
<!-- Toastr Modern Notification for MDB -->
<?php echo $this->Html->css('/node_modules/toastr/build/toastr.min.css'); ?>
<!-- JQuery -->
<?php echo $this->Html->script('/node_modules/mdbootstrap/js/jquery-3.1.1.min.js'); ?>
<!-- Bootstrap core JavaScript -->
<?php echo $this->Html->script('/node_modules/mdbootstrap/js/bootstrap.min.js'); ?>
<?php echo $this->fetch('meta'); ?>
<?php echo $this->fetch('css'); ?>
<?php echo $this->fetch('script'); ?>
<script>
  console.log('k');
  var i = 'a';
  console.log('1');
  $.post("/TouristAttraction/test", { 'i':i }, function (data) {
    console.log(data);
    data = jQuery.parseJSON(data);
    console.log(data);
  });
  console.log('2323');

  var map;
    // latlong province

    var center_lat = "<?php echo $masterProvince['0']['center_lat'] ?>";
    alert(center_lat);
    var center_long = "<?php echo $masterProvince['0']['center_long'] ?>";
    alert(center_long);

    var a = ["a", "b", "c", "d"];
    a.forEach(function(data) {
      console.log(data);
    });

    <?php
    $arr = array('a' => 1, 'b' => 2, 'c' => 3, 'd' => 4, 'e' => 5);
    echo json_encode($arr);
    ?>

    die();

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(center_lat,center_long),
        mapTypeId: 'roadmap'
      });

      //   var arr = "<?php $touristAttraction ?>";
      //   for(i=0; i<arr.length; i++){
      //     console.log(i, arr[i]);
      //   }
      // var a = ["a", "b", "c", "d"];
      // a.forEach(function(data) {
      //   console.log(data);
      // });
}
      /////////////////////////////////////////////////
      var features = [];
      <?php foreach ($touristAttraction as $key => $touristAttraction) { ?>
        features[<?php $key ?>] = [
        {
          position: new google.maps.LatLng("<?php $touristAttraction['latitude'] ?>", 
            "<?php $touristAttraction['longtitude'] ?>"),
          type: 'tourist'
        }
        console.log(<?php $touristAttractionv ?>);
        ];
        <?php }  ?>


  <?php /** 
        // var iconBase = '/icon/128x128/';
        var icons = {
          tourist: {
            name: 'Tourist',
            // icon: iconBase + 'tourism-icon.png'
            icon: "<?php $touristAttraction['...']['path_icon_marker']"
          }
        };

        // var features = [
        // {
        //   position: new google.maps.LatLng("<?php $touristAttraction['....'']['latitude'] ?>", 
        //     "<?php $touristAttraction['....'']['longtitude'] ?>"),
        //   type: 'tourist'
        // }
        // ];

          // Create markers.
          features.forEach(function(feature) {
            var marker = new google.maps.Marker({
              position: feature.position,
              icon: icons[feature.type].icon,
              map: map
            });
          });

          // var legend = document.getElementById('legend');
          // for (var key in icons) {
          //   var type = icons[key];
          //   var name = type.name;
          //   var icon = type.icon;
          //   var div = document.createElement('div');
          //   div.innerHTML = '<img src="' + icon + '"> ' + name;
          //   legend.appendChild(div);
          // }

          // map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
        }
      **/ ?>
      /////////////////////////////////////////////////


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQYrnkuaSXlh5gcYV6AkZSqaDc37A5deo&callback=initMap"
    async defer></script>

