<div class="row">
	<div class="col-12 col-md-8 offset-md-2">
		<ul class="navbar horizontal" style="background-color:#b30000;">
			<div class="col">
				<div class="form-inline">
					<li role="presentation" class="active"><a href="../TouristAttraction/index" style="text-decoration:none; color:#fff;" >HOME</a></li>&nbsp; &nbsp;
					<li role="presentation" ><a href="http://tourist-demo.pakgon.local:5052/TouristAttraction/ilike" style=" text-decoration:none; color:#fff;">LIKE</a></li>
				</div>
			</div>
			<div class="col">
				<button type="button" class="btn btn-default navbar-btn pull-right"  style="text-decoration:none; color:#b30000; border:none;" >SIGN OUT</button>
			</div>
		</ul>

		<br>

		<!-- <form id="form1" name="form1" method="post">
		    <select name="recipient" id="recipient" size="1">
		        <option value="" selected="selected">--- Please Select Beacon ---</option>
		        <option value="beacon0001">Beacon0001</option>
		        <option value="beacon0002">beacon0002</option>
		        <option value="beacon0003">beacon0003</option>
		        <option value="beacon0004">beacon0004</option>
		    <select>
		    <button type="button" class="btn btn-default navbar-btn pull-right"  style="text-decoration:none; color:#b30000; border:none;" >Confirm</button>
		</form> -->

		<h3>โปรดเลือก Beacon</h3>

		<form method="post" action="/tourist-attraction/scanbeacon">
	          <select name='selectBeacon'>
		            <option selected >--- Please Select Beacon ---</option>
		            <option value="beacon0001">Beacon0001</option>
			        <option value="beacon0002">beacon0002</option>
			        <option value="beacon0003">beacon0003</option>
			        <option value="beacon0004">beacon0004</option>
	          </select>
          <!-- <input type="submit" value="Submit"> -->
          <button type="summit" class="btn btn-default navbar-btn pull-right"  style="text-decoration:none; color:#b30000; border:none;" >Confirm</button>
        </form>

	</div>
</div>