@font-face {
                            font-family: 'Conv_supermarket';
                            src: url('../../font/fonts/supermarket.eot');
                            src: local('☺'), url('../../font/fonts/supermarket.woff') format('woff'), url('../../font/fonts/supermarket.ttf') format('truetype'), url('../../font/fonts/supermarket.svg') format('svg');
                            font-weight: normal;
                            font-style: normal;
                    }

body{

    font-family: 'Conv_supermarket';
    

}

h1,h2,h3{
	font-family: 'Conv_supermarket';
}

/* feeds index,view */

h3.freed-title {
    color: orange;
}

.box-icon-header {
    float: left;
    position: relative;
}

.icon-header {
    border-radius: 50%;
    background-color: orange;
    color: #fff;
    font-size: 16px;
    padding: 4px 3px 2px 4px;
    margin-right: 5px;
    display: block;
    text-align: center;
}

.icon-header:before {
    content: "";
    position: absolute;
    right: 43%;
    top: 90%;
    width: 0;
    height: 0;
    border-top: 10px solid orange;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.plus-page {
    /*width: 60px;
    height: 60px;*/
    width: 100%;
     height: 80px;
    border-radius: 50%;
    font-size: 35px;
    /* color: #fff; */
    line-height:80px;
    padding-left: 11px;
    text-align: center;
    background: #ccc;
}

.label-text-sub{
    font-size: 20px;
    color : white;
}

.input-search{
    padding-left: 10px;
}

.row-btn{
    padding-right: 20px;
    padding-top: 13px;
}

.page-name-search{
    font-size: 13px;
    color : white;
}

.btn-subscribe{
    background-color: rgba(255, 0, 0, 0.925);
    color : white;
}

.btn-Unsubscribe{
    background-color: rgba(128, 128, 128, 0.712);
    color : white;
}

.row-subscribe{
    padding-top: 15px;
    padding-right: 20px;
}

.row-super-deals {
    margin-bottom: 10px;
}

.super-deals-detail img {
    width: 100%;
}

.wakeup-articles-title {
    margin-bottom: 0px;
}

.icon-admin {
    color: #000;
    font-size: 20px;
    padding-top: 25px;
    cursor: pointer;
}

.icon-admin-page {
    color: #000;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 5px;
    cursor: pointer;
}

.wakeup-articles-list {
    background-color: #ccc;
}

.post {
    background-color: #fff;
    margin-bottom: 10px;
    padding-top: 10px;
}

.post .user-block {
    margin-left: 10px;
    margin-right: 10px;
}

.post .user-block .username {
    color: #000;
    font-size: 13px;
}

.like-true {
    color: blue !important;
}

.post .article-title {
    font-weight: bold;
    color: #000;
    padding-left: 5px;
}

.post .article-detail {
    background-color: #DCDCDC;
}

.post a {
    color: #666;
}

.post p {
    padding: 5px;
    font-size: 16px;
}

.post .article-img {
    margin-bottom: 15px;
}

.user-block img{
	height: 40px;
	width: auto; 
}

/* feeds view */
.box-view-article{
    margin-top: -20px;
}

.article-like{
    text-align: center;
    font-size: 25px;
    padding-top: 0px;
}

.count-like{
    margin-top: -5px;
    font-size: 14px;
}
.list-article-asset li{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
}
.list-article-asset li:first-child{
    border-top: 1px solid #f4f4f4;
}
.btn-article-asset{
    padding-left: 15px;
    padding-right: 15px;
}

a.btn-article-asset{
    color:white;
}

.article-asset-file{
    padding-top: 10px;
}

.carousel-indicators{
    bottom: 0px;
}

/* my page*/

.row-title-header{
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 5px;
    padding-left: 15px;
}

.list-page {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 550;
    color:black;
    font-size: 12px;
}

.list-page .page-name{
    margin-top: 5px;
}

.list-page a:link,
.list-page a:visited ,
.list-page a:hover,
.list-page a:active
{
    color:black;
}


/* index list */
table i.fa{
    margin-right:0px !important;
}
