﻿<html>
<head>

<title>Term of use</title>

<meta http-equiv="Content-Language" content="th">
<meta http-equiv="content-Type" content="text/html; charset=window-874">
<meta http-equiv="content-Type" content="text/html; charset=tis-620">



</head>
<body>
<p style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:16px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">ข้อตกลงการใช้บริการ</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">1. การยอมรับในข้อกำหนดและเงื่อนไขการใช้บริการ </span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">ขอต้อนรับสู่  Connect บริษัท กสท โทรคมนาคม จำกัด (มหาชน) (&ldquo;บริษัท&rdquo;) ให้บริการแอปพลิเคชัน  Connect (&ldquo;บริการ&rdquo;) แก่ท่านภายใต้ข้อกำหนดและเงื่อนไขต่างๆ ที่บริษัทสามารถปรับปรุงให้ทันสมัยได้ตลอดเวลาโดยไม่ต้องบอกกล่าว ท่านต้องปฏิบัติตามข้อกำหนดและเงื่อนไขการใช้บริการอย่างเคร่งครัดตลอดเวลา</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">2. ข้อกำหนดการสมัครเป็นสมาชิก</span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">ในการเปิดบัญชีสมาชิกให้แก่ท่าน ท่านตกลงที่จะ (ก) ให้ข้อมูลที่เป็นจริง ถูกต้อง และล่าสุดเกี่ยวกับตัวของท่านเองในแบบสมัครสมาชิก (ข) คงไว้ซึ่งความถูกต้องและเป็นจริงของข้อมูลของท่าน รวมทั้งแก้ไขเปลี่ยนแปลงข้อมูลของท่านให้ถูกต้องและเป็นปัจจุบันตลอดเวลา ในการลงทะเบียนหากท่านได้ให้ข้อมูลดังกล่าวที่ไม่เป็นจริง ไม่ถูกต้อง ไม่ใช่ข้อมูลล่าสุด หรือไม่สมบูรณ์ หรือหากบริษัทมีเหตุผลในการสงสัยว่าข้อมูลดังกล่าวที่ไม่เป็นจริง ไม่ถูกต้อง ไม่ใช่ข้อมูลล่าสุด หรือไม่สมบูรณ์ บริษัทมีสิทธิที่จะระงับหรือยกเลิกบัญชีของท่านโดยไม่ต้องบอกกล่าว และปฏิเสธที่จะให้บริการใดๆ ของบริษัทแก่ท่าน ท่านต้องรับผิดชอบในการรักษาความลับของรหัสผ่านและบัญชีของท่าน และรับผิดชอบในกิจกรรมทั้งหมดที่เกิดขึ้นภายใต้รหัสผ่านหรือบัญชีของท่าน</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">3. นโยบายความเป็นส่วนตัว (Privacy Policy)</span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">บริษัทมีนโยบายในการคุ้มครองข้อมูลส่วนบุคคลของผู้ใช้บริการทุกท่านอย่างดีที่สุด โดยปัจจุบันบริษัทได้ใช้ระบบรักษาความปลอดภัยที่ได้มาตรฐานระดับสากล เพื่อคุ้มครองข้อมูลดังกล่าว อย่างไรก็ตาม เพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่าน ท่านควรปฏิบัติตามข้อกำหนด และเงื่อนไขการให้บริการอย่างเคร่งครัด ในกรณีที่ข้อมูลส่วนบุคคลดังกล่าว ถูกจารกรรมโดยวิธีการทางอิเล็กทรอนิกส์ (hack) หรือสูญหาย เสียหายอันเนื่องจากเหตุสุดวิสัยหรือไม่ว่ากรณีใดๆ ทั้งสิ้น บริษัทขอสงวนสิทธิในการปฏิเสธความรับผิดจากเหตุดังกล่าวทั้งหมด</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">4. ข้อจำกัดการใช้บริการ</span></strong> </span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">4.1 บริษัทได้ใช้ระบบรักษาความปลอดภัยที่ได้มาตรฐานระดับสากลเพื่อคุ้มครองข้อมูลส่วนบุคคล (Privacy notes) ที่ท่านได้ให้หรือใช้ผ่านการประมวลผลของเครื่องคอมพิวเตอร์ที่ควบคุมการทำงานของบริการ อย่างไรก็ ตาม เพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่านและผู้ใช้บริการรายอื่น และเพื่อความเป็นระเบียบเรียบร้อย ในการใช้บริการ ท่านต้องไม่กระทำการใดอันเป็นการล่วงละเมิดสิทธิส่วนบุคคลหรือสิทธิอื่นใดของบุคคลอื่น และ/หรือสิทธิในทรัพย์สินทางปัญญาของบริษัทหรือของบุคคลอื่น รวมทั้งต้องไม่กระทำการใดอันขัดต่อ ข้อตกลงและเงื่อนไขนี้ ในกรณีที่ข้อมูลส่วนบุคคลดังกล่าวได้รับความเสียหายและ/หรือสูญหาย ไม่ว่าจะเกิดจาก สาเหตุใดๆ ก็ตาม ซึ่งรวมถึง (แต่ไม่จำกัดเฉพาะ) วิธีการทางอิเล็กทรอนิกส์ (hack) หรือสูญหาย เสียหายอัน เนื่องจากเหตุสุดวิสัย บริษัทไม่มีหน้าที่ต้องรับผิดชอบในความเสียหายหรือสูญหายดังกล่าวทั้งสิ้น อนึ่ง บริษัท สงวนสิทธิที่จะลบ (delete) ทำให้หยุดชั่วคราวหรือถาวร หรือนำเสนอและตรวจสอบข้อมูลส่วนบุคคลของท่านได้ ตลอดเวลาตามความต้องการของกฎหมาย หรือเพื่อปกป้องและป้องกันสิทธิ ทรัพย์สิน หรือผลประโยชน์ของ บริษัทและบุคคลภายนอก หรือเพื่อวัตถุประสงค์อื่นใดก็ตาม โดยไม่ต้องบอกกล่าวล่วงหน้า และบริษัทไม่ต้อง รับผิดชอบในความเสียหายใดๆ ทั้งสิ้น </span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">4.2 บริษัทให้บริการแก่บุคคลธรรมดาเท่านั้น การใช้บริการเพื่อการค้า หรือการขายบริการต่อโดยมิได้รับอนุญาต เป็นหนังสือถือเป็นการฝ่าฝืนทั้งสิ้น ท่านได้ตกลงยินยอมว่าท่านจะเป็นผู้รับผิดชอบในข้อมูล เนื้อหา ข้อความ ซอฟต์แวร์ เสียง เพลง รูปภาพ วีดีโอ หรือข้อมูลอื่นๆ ทั้งหมดแต่ผู้เดียว (ต่อไปนี้จะเรียกว่า &quot;เนื้อหา&quot;) ซึ่งท่านได้ ส่งเข้ามาไม่ว่าโดยวิธีใดก็ตาม เนื้อหาทั้งหมดที่ถูกส่งมาจะอยู่ในความรับผิดชอบของบุคคลผู้ริเริ่มนั้น บริษัทจะไม่ รับประกันในความถูกต้องสมบูรณ์และคุณภาพของเนื้อหาดังกล่าว ท่านตกลงยินยอมที่จะไม่กระทำการ ดังต่อไปนี้ </span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">ก. ใช้บริการเพื่อการทำจดหมายลูกโซ่ จดหมายโฆษณา จดหมายที่มีข้อความไม่เป็นที่ต้องการ ทั้ง ทางด้านการค้าหรืออื่นๆ</span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">ข. เก็บหรือสะสมข้อมูลเกี่ยวกับผู้อื่น รวมทั้งที่อยู่ของจดหมายอิเล็กทรอนิกส์โดยมิได้รับความยินยอม</span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">ค. สร้างหลักฐานหรือที่อยู่จดหมายอิเล็กทรอนิกส์ปลอม หรือกระทำการใดๆ ก็ตาม เพื่อหลอกลวงผู้อื่น ให้เข้าใจผิดเกี่ยวกับที่มาของข้อความและผู้ส่งข้อความนั้น</span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">ง. ส่งเนื้อหาผ่านบริการโดยผิดกฎหมายหรือศีลธรรม หมิ่นประมาท กล่าวโทษขู่เข็ญ คุกคาม สร้างความ เสียหาย ลามก หยาบโลนหรือเป็นที่น่ารังเกียจของผู้อื่น</span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">จ. ส่งเนื้อหาใดใดที่เป็นการละเมิดทรัพย์สินทางปัญญา หรือสิทธิอื่นของบุคคลหรือสถาบันอื่นรวมทั้ง เครื่องหมายการค้า ลิขสิทธิ์ หรือสิทธิ์ในการเผยแพร่ต่างๆ</span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">ฉ. ส่งเนื้อหาใดใดที่มีไวรัสหรือโปรแกรมที่เป็นอันตราย</span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">ช. ขัดขวาง แทรกแซง หรือรบกวนเครือข่ายของบริการ หรือฝ่าฝืนข้อบังคับ นโยบาย หรือการปฏิบัติ ของเครือข่ายนั้น</span></span></span></p>

<p style="margin-left:80px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">ซ. พยายามฝ่าฝืนเข้าสู่บริการของบัญชีผู้อื่น ระบบคอมพิวเตอร์หรือเครือข่ายของบริการ โดยมิได้รับ อนุญาต หรือ รบกวนการใช้งานของสมาชิกอื่น</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">5. ลิขสิทธิ์และการอนุญาต</span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">บริษัทขอแจ้งให้ท่านทราบว่า บรรดาข้อความ ภาพ เสียง เนื้อหา ส่วนประกอบใดๆ ทั้งหมดของบริการ รวมถึงแต่ไม่จำกัดเฉพาะเครื่องหมายการค้า เครื่องหมายบริการ ชื่อ ชื่อทางการค้า สิทธิบัตร โนว์ฮาวส์ และทรัพย์สินทางปัญญาอื่นใดของบริการ เป็นงานอันได้รับความคุ้มครองตามกฎหมายทรัพย์สินทางปัญญาของไทยโดยชอบด้วยกฎหมายของบริษัทแต่เพียงผู้เดียว ท่านต้องไม่ละเมิดสิทธิในทรัพย์สินทางปัญญาดังกล่าวของบริษัท บริษัทสงวนสิทธิในการที่จะดำเนินการตามกฎหมายกับผู้ละเมิดสิทธิดังกล่าวโดยทันที</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">6. การเปลี่ยนแปลงแก้ไข</span></strong> </span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">6.1 บริษัทสงวนสิทธิในการพิจารณาแก้ไขเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใชับริการนี้เมื่อใด และอย่างใดก็ ได้ตามความเหมาะสม และให้ถือว่าท่านที่ยังคงใช้บริการต่อไปตกลงยอมรับที่จะปฏิบัติตามระเบียบกฎเกณฑ์และ เงื่อนไขที่แก้ไขเปลี่ยนแปลงนั้นโดยปริยาย</span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">6.2 บริษัทสงวนสิทธิในการเปลี่ยนแปลง ปรับปรุง แก้ไข และระงับบริการไว้ชั่วคราวหรือถาวรได้ตลอดเวลา โดย ไม่ต้องบอกกล่าวให้ทราบ และไม่ต้องรับผิดชอบในความสูญหายหรือเสียหายใดๆ ที่เกิดขึ้นทั้งสิ้น</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">7. ข้อจำกัดความรับผิด</span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">หากเกิดความสูญหายหรือเสียหายขึ้นเนื่องจากการใช้บริการ หรือจากการละเมิดระเบียบกฎเกณฑ์และเงื่อนไขนี้ไม่ว่าโดยบุคคลใด เช่น การเขียนและเผยแพร่ข้อความที่ต้องห้าม บริษัทไม่ต้องรับผิดชอบใดๆ ทั้งสิ้นต่อท่าน และ/หรือบุคคลผู้เสียหายนั้น ท่านต้องรับผิดชอบและรับผลเสียหายที่เกิดขึ้นนั้นแต่เพียงผู้เดียว ทั้งนี้ ท่านตกลงสละสิทธิเรียกร้องให้บริษัทรับผิดในความสูญหายและเสียหายใดๆ ที่เกิดขึ้นจากการใช้บริการนี้ทั้งสิ้น นอกจากนี้ ท่านต้องปกป้องมิให้บริษัทต้องรับผิดหรือถูกฟ้องร้องจากบุคคลอื่นอันเนื่องมาจากบริการนี้ รวมทั้งจะต้องรับผิดชอบและชดใช้ค่าเสียหายต่างๆ ที่เกิดขึ้นเองทั้งสิ้น</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">8. การรับรอง</span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">บริการนี้จัดให้มีขึ้นโดยปราศจากค่าสิทธิและอยู่บนพื้นฐาน &ldquo;ที่เป็นอยู่&rdquo; (as is basis) โดยปราศจากคำรับรองใดๆ ทั้งสิ้น รวมถึงแต่ไม่จำกัดเฉพาะ บริษัทไม่รับรองว่าบริการและเนื้อหาที่เผยแพร่ผ่านบริการจะ </span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">(ก) สามารถทำงานหรือเผยแพร่ได้ตลอดเวลา</span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">(ข) ถูกต้องสมบูรณ์ ไม่บกพร่อง หรือสมตามความประสงค์ของผู้ใช้บริการ ไม่ว่าจะเป็นในด้านเทคนิคหรือด้านใดก็ตาม</span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">(ค) มีความเหมาะสม (ไม่ว่าจะในด้านใดก็ตาม) สำหรับบุคคลทั่วไป</span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">(ง) ไม่ละเมิดสิทธิใดๆ ผู้ใช้บริการต้องรับความเสี่ยงจากคุณภาพและผลจากการใช้บริการเองทั้งสิ้น หากบริการก่อให้เกิดความเสียหายแก่ท่านหรือบุคคลใดก็ตาม บริษัทไม่มีหน้าที่ต้องรับผิดชอบทั้งสิ้น</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">9. การโฆษณา</span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">ความตกลงใดๆ เกี่ยวกับการโฆษณา ประชาสัมพันธ์ การขายสินค้า การให้/รับบริการ การชำระเงิน และการจัดส่งสินค้าหรือบริการที่แสดงผ่านบริการของบริษัท รวมทั้งความตกลงใดๆ เกี่ยวกับเงื่อนไข การรับประกัน หรือการนำเสนอการประชาสัมพันธ์จะอยู่ในความรับผิดชอบระหว่างท่านกับผู้โฆษณา ผู้ขาย สินค้าและบริการเท่านั้น บริษัทไม่มีส่วนเกี่ยวข้องใดๆ และจะไม่รับผิดชอบต่อความสูญหายและเสียหายใดๆ ที่เกิดจากความตกลงดังกล่าว</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">10. การยกเลิกบริการ</span></strong> </span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">10.1 บริษัทมีสิทธิยกเลิก หรือระงับการให้บริการไว้ชั่วคราวหรือถาวร หากผู้ใช้บริการฝ่าฝืนหรือพยายามฝ่าฝืน ข้อตกลงหรือเงื่อนไขนี้ข้อหนึ่งข้อใด</span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">10.2 บริษัทสามารถที่จะลบอีเมล์ทั้งหมดที่อยู่ในบัญชีสมาชิกของท่านออก และปิดการรับอีเมล์จากบุคคลอื่นที่ อาจจะส่งถึงท่าน</span></span></span></p>

<p style="margin-left:40px; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><span style="font-family:&quot;Tahoma&quot;,sans-serif">10.3 บริษัทสามารถยกเลิกบริการ และลบข้อมูลเนื้อหาในบริการได้ทันที โดยไม่ต้องแจ้งให้ทราบล่วงหน้า </span></span></span></p>

<p style="margin-left:40px; margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:&quot;TH Sarabun New&quot;,sans-serif"><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">นโยบายความเป็นส่วนตัว (</span></strong><strong><span style="font-family:&quot;Tahoma&quot;,sans-serif">Privacy Policy)</span></strong><br />
<span style="font-family:&quot;Tahoma&quot;,sans-serif">บริษัทมีนโยบายในการคุ้มครองข้อมูลส่วนบุคคลของผู้ใช้บริการทุกท่านโดยสังเขปดังนี้ ข้อมูลส่วนบุคคลที่ท่านได้ให้หรือใช้ผ่านการประมวลผลของเครื่องคอมพิวเตอร์ ที่ควบคุมการทำงานของแอปพลิเคชัน ของบริษัททั้งหมดนั้น ท่านยอมรับและตกลงว่าเป็นสิทธิและกรรมสิทธิ์ของบริษัท ซึ่งบริษัทจะให้ความคุ้มครองความลับ ดังกล่าวอย่างดีที่สุด โดยบริษัทขอเรียนว่า ปัจจุบันบริษัทได้ใช้ระบบรักษาความปลอดภัยที่ได้มาตรฐานระดับสากล เพื่อคุ้มครองข้อมูลดังกล่าว อย่างไรก็ตาม เพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่าน ท่านควรปฏิบัติตามข้อกำหนด และเงื่อนไขการให้บริการของเว็บไซต์ ของบริษัทแต่ละเว็บไซต์ โดยเคร่งครัด ในกรณีที่ข้อมูลส่วนบุคคลดังกล่าว ถูกจารกรรมโดยวิธีการทางอิเล็กทรอนิกส์ (hack) หรือสูญหาย เสียหายอันเนื่องจากเหตุสุดวิสัยหรือไม่ว่ากรณีใดๆทั้งสิ้น บริษัทขอสงวนสิทธิในการปฏิเสธความรับผิดจากเหตุดังกล่าวทั้งหมด ท่านตกลงว่าท่านจะไม่กระทำการใดอันเป็นการล่วงละเมิดสถาบันชาติ ศาสนา พระมหากษัตริย์ หรือสิทธิส่วนบุคคลหรือสิทธิอื่นใดของบุคคลภายนอก และ/หรือสิทธิในทรัพย์สินทางปัญญาของบริษัท หรือของบุคคลภายนอก รวมทั้งต้องไม่กระทำการใดอันขัดต่อกฎหมาย และ/หรือศีลธรรมอันดีของประชาชน โดยจะไม่ส่งเนื้อหารวมถึงการนำข้อความ รูปภาพ หรือ ภาพเคลื่อนไหว ที่ไม่เหมาะสม ไม่สุภาพ มีลักษณะเสียดสี ก่อให้เกิดความขัดแย้ง เป็นความลับ หรือเป็นเท็จ รวมทั้งข้อความและรูปภาพที่มีลักษณะขัดต่อกฎหมาย หรือศีลธรรมอันดีของประชาชน เผยแพร่ผ่านบริการ หรือกระทำการอื่นใดอันอาจก่อให้เกิดความสูญเสีย หรือเสียหายต่อบริษัท และ/หรือบุคคลภายนอก </span></span></span></p>

</body>

</html> 