	<table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class='bgBody'>
		<tr>
			<td>

				<table cellpadding="0" width="620" class="container" align="center" cellspacing="0" border="0">
					<tr>
						<td>
						<!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
						

						<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
							<tr>
								<td class='movableContentContainer bgItem'>

									<div class='movableContent'>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr height="40">
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
											</tr>
											<tr>
												<td width="200" valign="top">&nbsp;</td>
												<td width="200" valign="top" align="center">
													<div class="contentEditableContainer contentImageEditable">
														<div class="contentEditable" align='center' >
															<img src="images/logo.png" width="155" height="155"  alt='Logo'  data-default="placeholder" />
														</div>
													</div>
												</td>
												<td width="200" valign="top">&nbsp;</td>
											</tr>
											<tr height="25">
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
											</tr>
										</table>
									</div>

									<div class='movableContent'>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr>
												<td width="100%" colspan="3" align="center" style="padding-bottom:10px;padding-top:25px;">
													<div class="contentEditableContainer contentTextEditable">
														<div class="contentEditable" align='center' >
															<h2 >It's been a while...</h2>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td width="100">&nbsp;</td>
												<td width="400" align="center">
													<div class="contentEditableContainer contentTextEditable">
														<div class="contentEditable" align='left' >
															<p >Hi [FirstName,there],
																<br/>
																<br/>
																Click on the link below to update your profile. If you're no longer interested in hearing from us, simply click on unsubscribe below (or ignore this message) and we won't send you any more newsletters.</p>
														</div>
													</div>
												</td>
												<td width="100">&nbsp;</td>
											</tr>
										</table>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr>
												<td width="200">&nbsp;</td>
												<td width="200" align="center" style="padding-top:25px;">
													<table cellpadding="0" cellspacing="0" border="0" align="center" width="200" height="50">
														<tr>
															<td bgcolor="#ED006F" align="center" style="border-radius:4px;" width="200" height="50">
																<div class="contentEditableContainer contentTextEditable">
																	<div class="contentEditable" align='center' >
																		<a target='_blank' href="#" class='link2'>Click here to reset it</a>
																	</div>
																</div>
															</td>
														</tr>
													</table>
												</td>
												<td width="200">&nbsp;</td>
											</tr>
										</table>
									</div>


									<div class='movableContent'>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr>
												<td width="100%" colspan="2" style="padding-top:65px;">
													<hr style="height:1px;border:none;color:#333;background-color:#ddd;" />
												</td>
											</tr>
											<tr>
												<td width="60%" height="70" valign="middle" style="padding-bottom:20px;">
													<div class="contentEditableContainer contentTextEditable">
														<div class="contentEditable" align='left' >
															<span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">Sent to [email] by [CLIENTS.COMPANY_NAME]</span>
															<br/>
															<span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">[CLIENTS.ADDRESS] | [CLIENTS.PHONE]</span>
															<br/>
															<span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
															<a target='_blank' href="[FORWARD]" style="text-decoration:none;color:#555">Forward to a friend</a>
															</span>
															<br/>
															<span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
															<a target='_blank' href="[UNSUBSCRIBE]" style="text-decoration:none;color:#555">click here to unsubscribe</a></span>
														</div>
													</div>
												</td>
												<td width="40%" height="70" align="right" valign="top" align='right' style="padding-bottom:20px;">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" align='right'>
														<tr>
															<td width='57%'></td>
															<td valign="top" width='34'>
																<div class="contentEditableContainer contentFacebookEditable" style='display:inline;'>
																	<div class="contentEditable" >
																		<img src="images/facebook.png" data-default="placeholder" data-max-width='30' data-customIcon="true" width='30' height='30' alt='facebook' style='margin-right:40x;'>
																	</div>
																</div>
															</td>
															<td valign="top" width='34'>
																<div class="contentEditableContainer contentTwitterEditable" style='display:inline;'>
																  <div class="contentEditable" >
																	<img src="images/twitter.png" data-default="placeholder" data-max-width='30' data-customIcon="true" width='30' height='30' alt='twitter' style='margin-right:40x;'>
																  </div>
																</div>
															</td>
															<td valign="top" width='34'>
																<div class="contentEditableContainer contentImageEditable" style='display:inline;'>
																  <div class="contentEditable" >
																	<a target='_blank' href="#" data-default="placeholder"  style="text-decoration:none;">
																		<img src="images/pinterest.png" width="30" height="30" data-max-width="30" alt='pinterest' style='margin-right:40x;' />
																	</a>
																  </div>
																</div>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</div>


								</td>
							</tr>
						</table>

						
						

						</td>
					</tr>
				</table>
		
			</td>
		</tr>
	</table>