	<table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class='bgBody'>
		<tr>
			<td>

				<table cellpadding="0" width="620" class="container" align="center" cellspacing="0" border="0">
					<tr>
						<td>
						

						Verification code: <?php echo $verify_code;?>

						
						

						</td>
					</tr>
				</table>
		
			</td>
		</tr>
	</table>