/*
    Application main style
    author: sarawutt.b
    since: 2108-03-30
*/
@import url(../fonts/thsarabun/thsarabunnew.min.css);
*{ font-family: 'THSarabunNew', sans-serif; }
.user-block-1 img, .user-block-2 img{
    border: 5px solid rgba(255, 255, 255, 0.8);
}
img.icon{
    width: 28px;
    height: 28px;
}
.ui-pakgon-text-error{
    color:#f00;
    font-size:1em;
    font-weight:bold;
    padding-left:3px;
    margin:5px;
}
.ui-pakgon-input-error{
    color:#000 !important;
    font-weight: bold;
}
.actions{
    width: 13%;
    text-align: center;
    color: #3C8DBC;
}
.actions a {
    margin-right: 10px;
}
.long-action{
    text-align: center;
    color: #3C8DBC;
}
div.permission-lists div.icheckbox_minimal,.icheckbox_minimal-blue{margin: 0 10px 0 2px;}
div.checkbox-table-striped:nth-of-type(odd),div.checkbox-table-striped:nth-of-type(even){padding: 8px;}
div.checkbox-table-striped:nth-of-type(odd){background-color: #F9F9F9;}
/*div.checkbox-table-striped:nth-of-type(even){background-color: #F9F9F9;}*/
td.main-status,th.main-status{width: 20px !important;background-color: #f00;}
label.radio-inline{font-weight: bold;}
/*.simple-input label{text-align: left;}*/

.icheckbox_minimal-blue{margin: 0 10px 0 2px;}
div.submit input[type='submit'],div.submit input[type='button'],div.submit button{
    margin-right: 10px;
}
i.fa{
    margin-right:10px;
}
#loading-indicator {
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999;
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
#loading-indicator img{
    position: absolute;
    width: 120px;
    left:50%;
    top:50%;
}
.separate-button{
    margin-left: 10px;
}
.money, .thai-money,text-right{
    text-align: right !important;
}
.red-star{
    margin-left: 3px; color: red;
}
.notfound,.row-notfound,.row-notfound>td{font-weight: bold;color: #f00;text-align: center;}
.nindex,.nindex-black{text-align: center;width: 6%;}
.nindex,.nindex-checkbox.th-nolink{color: #3c8dbc;}
.nindex-black{color:#333;}
.nindex-checkbox,.nindex-black-checkbox{width : 8%;}
.text-bold{
    font-weight: bold;
}
.gap{
    margin: 10px 0;
}
.btn,button,input[type='submit']{
    font-weight: bold;
}
.pakgon-label{
    font-weight: bold !important;
}
.invalid-feedback,
.valid-feedback {
    font-weight: bold;
}
.owl-carousel a{
    color: #000 !important;
    text-decoration: none !important;
}
/*add css to card with no border radius and no background color*/
.card-trans {
    /*border-radius: 0;*/
    background-color: transparent !important;
    border: none !important;
    border-radius:30px !important;
    box-shadow: none !important;
}
img.icon-pakgon-list{
    width: 28px;
    height: 28px;
}
img.page-logo{
    width: 60px !important;
    height: 60px !important;
}

.text-article-title{
    font-size: 16px;
    font-weight: bold;
    color: #212529!important;
}
.text-article-intro{
    /*    text-indent: 20px;*/
    font-size: 16px;
    color: #212529!important;
    padding-top: 10px;
}
.text-time-ago{
    /*social text time ago*/
    padding-top: 3px;
}
.text-page-name{
    font-size: 15px;
    font-weight: bold;
}
.article-img-title{
    /*arrticle imag title*/
}
.img-page-logo{
    /*image page logo*/
}
.gap-article{
    padding: 4px;
}
.text-article-detail{
    /*text of the article details*/
}
td.backend-action{
    width: 30%;
}
.contact-line-at{
    font-size: 16px;
    font-weight: bold;
}
.img-show-example{
    /*margin-left: 60px !important;*/
    width: 200px;
}