{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php

 /**
  *
  * The template view for {{ action }} as of {{ pluralVar }} controller the page show for {{ pluralVar }} information.
  *
  * @author  sarawutt.b
  * @var \{{ namespace }}\View\AppView $this
  * @var \{{ entityClass }} ${{ singularVar }}
  * @since  {{ now|date('Y-m-d H:i:s') }}
  * @license Pakgon.Ltd
  */
?>
{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}
{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
<div class="{{ pluralVar }} view {{ pluralVar }}-view box box-info box-view">
    <?php echo $this->element('utility/boxOptionHeader', ['btitle' => __('{{ singularHumanName }} Management System => ({0} information)', h(${{ singularVar }}->{{ displayField }})), 'bicon' => 'fa-info', 'bcollapse' => true, 'bclose' => true]); ?>
    <div class="box-body table-responsive">
        <table class="table table-bordered table-striped table-view-information">
    {% if groupedFields['string'] %}
    {% for field in groupedFields['string'] %}
    {% if associationFields[field] %}
    {% set details = associationFields[field] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ details.property|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : ''; ?></td>
            </tr>
    {% else %}
        {% if field in ['name', 'name_eng', 'id'] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ pluralHumanName }} {{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo h(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
        {% elseif field in ['status', 'is_used'] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->getMainStatus(${{ singularVar }}->{{ field }}, true); ?></td>
            </tr>
        {% elseif field in ['create_uid', 'update_uid'] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->getUserFullnameById(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
        {% elseif field in ['created', 'modified', 'updated'] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->dateTimeISO(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
        {% else %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo h(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
        {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if associations.HasOne %}
    {% for alias, details in associations.HasOne %}
            <tr>
                <td class="table-view-label view-has-one"><?php echo __('{{ alias|underscore|singularize|humanize }}'); ?></td>
                <td class="table-view-detail view-has-one"><?php echo ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : ''; ?></td>
            </tr>
    {% endfor %}
    {% endif %}
    {% if groupedFields.number %}
    {% for field in groupedFields.number %}
            {% if field in ['create_uid', 'update_uid'] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->getUserFullnameById(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
            {% elseif field in ['id'] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ pluralHumanName }} {{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo h(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
            {% else %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo $this->Number->format(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
            {% endif %}
    {% endfor %}
    {% endif %}
    {% if groupedFields.date %}
    {% for field in groupedFields.date %}
        {% if field in ['created', 'modified'] %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo $this->Utility->dateTimeISO(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
        {% else %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo h(${{ singularVar }}->{{ field }}); ?></td>
            </tr>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% if groupedFields.boolean %}
    {% for field in groupedFields.boolean %}
            <tr>
                <td class="table-view-label"><?php echo __('{{ field|humanize }}'); ?></td>
                <td class="table-view-detail"><?php echo ${{ singularVar }}->{{ field }} ? __('Yes') : __('No'); ?></td>
            </tr>
    {% endfor %}
    {% endif %}
        </table>
    </div><!-- ./box-body -->
    <?php echo $this->element('utility/boxOptionFooter'); ?>
</div><!-- ./roles view rols-view box box-info box-view -->

{% if groupedFields.text %}
{% for field in groupedFields.text %}
    <div class="table-view-label view-has-text">
        <h4><?php echo __('{{ field|humanize }}'); ?></h4>
        <?php echo $this->Text->autoParagraph(h(${{ singularVar }}->{{ field }})); ?>
    </div>
{% endfor %}
{% endif %}
{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
{% for alias, details in relations %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}
<div class="related div-box-related">
    <?php if (!empty(${{ singularVar }}->{{ details.property }})): ?>
        <div class="box box-warning box-related">
            <?php echo $this->element('utility/boxOptionHeader', ['btitle' => __('Related {{ otherPluralHumanName }}'), 'bicon' => 'fa-refresh', 'bcollapse' => true, 'bclose' => true]); ?>
            <div class="box-body table-responsive">
                <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-list-related">
                    <tr>
                        <th class="nindex"><?php echo __('Row no'); ?></th>
        {% set countDisplayColumn = 2 %}
        {% for field in details.fields %}
        {% if field not in ['id']%}
        {% if field in ['name', 'name_eng', 'id'] %}
                        <th><?php echo __('{{ pluralHumanName }} {{ field|humanize }}'); ?></th>
        {% else %}
                        <th><?php echo __('{{ field|humanize }}'); ?></th>
        {% endif %}
        {% set countDisplayColumn = countDisplayColumn + 1 %}
        {% endif %}
        {% endfor %}
                        <th class="actions"><?php echo __('Actions'); ?></th>
                    </tr>
                    <?php if (!empty(${{ singularVar }}->{{ details.property }})): ?>
                    <?php foreach (${{ singularVar }}->{{ details.property }} as $index => ${{ otherSingularVar }}): ?>
                        <tr>
                            <td class="nindex"><?php echo h(++$index); ?></td>
            {% for field in details.fields %}
                {% if field not in ['id'] %}
                {% if field in ['status', 'is_used'] %}
                            <td><?php echo $this->Utility->getMainStatus(${{ otherSingularVar }}->{{ field }}, true); ?></td>
                {% elseif field in ['create_uid', 'update_uid'] %}
                            <td><?php echo $this->Utility->getUserFullnameById(${{ otherSingularVar }}->{{ field }}); ?></td>
                {% elseif field in ['created', 'modified', 'update'] %}
                            <td><?php echo $this->Utility->dateTimeISO(${{ otherSingularVar }}->{{ field }}); ?></td>
                {% else %}
                            <td><?php echo h(${{ otherSingularVar }}->{{ field }}); ?></td>
                {% endif %}
                {% endif %}
            {% endfor %}
            {% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
                            <td class="actions">
                                <?php echo $this->Permission->getActions({{ otherPk|raw }}, '{{ details.controller }}'); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="{{ countDisplayColumn }}"><?php echo __($this->Configure->read('APP.DISPLAY.NO_RESULT')); ?></td>
                        </tr>
                    <?php endif; ?>
                    </table>
            </div><!-- ./box-body -->
            <?php echo $this->element('utility/boxOptionFooter'); ?>
        </div><!-- ./box box-warning box-related -->
        <?php endif; ?>
{% endfor %}
</div><!-- ./related div-box-related -->
