{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
namespace {{ namespace }}\Model\Behavior;

use Cake\ORM\Behavior;
use Cake\ORM\Table;

 /**
  *
  * {{ name }} behavior.
  *
  * @author  sarawutt.b
  * @since   {{ "now"|date('Y/m/d H:i:s') }}
  * @license Pakgon.Ltd
  */
class {{ name }}Behavior extends Behavior
{

      /**
        *
        * Default configuration.
        *
        * @author  sarawutt.b
        * @var array
        */
    protected $_defaultConfig = [];
}
