{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
  * The template index for {{ action }} as of {{ pluralVar }} controller the page show for short {{ pluralVar }} information.
  *
  * @author  sarawutt.b
  * @var \{{ namespace }}\View\AppView $this
  * @var \{{ entityClass }}[]|\Cake\Collection\CollectionInterface ${{ pluralVar }}
  * @since  {{ now|date('Y-m-d H:i:s') }}
  * @license Pakgon.Ltd
  */
?>
{% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
<div class="{{ pluralVar }} index">
    
    <!-- box-find -->
    <div class="box box-warning box-find">
        <?php echo $this->element('utility/boxOptionHeader', ['btitle' => __('{{ singularHumanName }} Management System'), 'bicon' => 'fa-search', 'bclose' => true, 'bcollapse' => true]); ?>
        <?php
        $this->Form->setTemplates(
                [
                    'inputContainer' => '<div class="input col-md-6 {{ '{{' }}type{{ '}}' }} {{ '{{' }}required{{ '}}' }}"> {{ '{{' }}content{{ '}}' }} <span class="help">{{ '{{' }}help{{ '}}' }}</span></div>'
                ]
        );
        ?>
        <!-- box-body -->
        <div class="box-body">
            <?php echo $this->Form->create('{{ pluralVar }}'); ?>
            <?php echo $this->Form->control('name'); ?>
            <?php echo $this->Form->control('status', ['options' => $this->Utility->getMainStatus()]); ?>
            <?php echo $this->Form->control('dateFrom', ['type' => 'text', 'class' => 'datepicker date-start']); ?>
            <?php echo $this->Form->control('dateTo', ['type' => 'text', 'class' => 'datepicker date-end']); ?>
            <div class="box-footer">
                <?php echo $this->Permission->submit(__('Search {{ singularHumanName }}'), '/{{ pluralVar }}/index', ['icon' => 'fa-search', 'name' => 'btnSubmitSearch', 'class' => 'btn-flat bg-orange']); ?>
                <?php echo $this->Permission->button(__('Add {{ singularHumanName }}'), '/{{ pluralVar }}/add', ['icon' => 'fa-plus', 'name' => 'btnAddNew', 'class' => 'btn-flat bg-navy']); ?>
                <?php //echo $this->Permission->buttonBack(); ?>
                <?php echo $this->Form->end(); ?>
            </div><!-- ./box box-footer -->
        </div><!-- ./box box-body -->
    </div><!-- ./box box-warning box-find -->

    
        <!-- box-result -->
    <div class="box box-info box-result">
        <?php echo $this->element('utility/boxOptionHeader', ['btitle' => __('{{ pluralHumanName }} list (Result)'), 'bicon' => 'fa-th-list', 'bclose' => true, 'bcollapse' => true]); ?>
        <div class="box-body">
        <table cellpadding="0" cellspacing="0" class="table table-hover table-bordered table-striped table-list-index">
            <thead>
                <tr>
                    <th class="nindex"><?php echo __('Row no'); ?></th>
    {% set countDisplayColumn = 2 %}
    {% for field in fields %}
    {% if field not in ['id'] %}
    {% if field in ['id', 'name', 'name_eng'] %}
                    <th><?php echo $this->Paginator->sort('{{ field }}',__('{{ pluralHumanName }} {{ field|humanize }}')); ?></th>
    {% else %}
                    <th><?php echo $this->Paginator->sort('{{ field }}'); ?></th>
    {% endif %}
    {% set countDisplayColumn = countDisplayColumn + 1 %}
    {% endif %}
    {% endfor %}
                    <th class="actions"><?php echo __('Actions'); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php if (!empty(${{ pluralVar }})): ?>
                    <?php foreach (${{ pluralVar }} as $index => ${{ singularVar }}): ?>
                    <tr>
                        <td class="nindex"><?php echo $this->Paginator->counter('{{ '{{' }}start{{ '}}' }}') + $index; ?></td>
        {% for field in fields %}
        {% if field not in ['id'] %}
        {% set isKey = false %}
        {% if associations.BelongsTo %}
        {% for alias, details in associations.BelongsTo if field == details.foreignKey %}
        {% set isKey = true %}
                        <td><?php echo ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : ''; ?></td>
        {% endfor %}
        {% endif %}
        {% if isKey is not same as(true) %}
        {% set columnData = Bake.columnData(field, schema) %}
            {% if field in ['status','is_used'] %}
                        <td><?php echo $this->Utility->getMainStatus(${{ singularVar }}->{{ field }}, true); ?></td>
            {% elseif field in ['create_uid', 'update_uid'] %}
                        <td><?php echo $this->Utility->getUserFullnameById(${{ singularVar }}->{{ field }}); ?></td>
            {% elseif field in ['created', 'modified', 'updated'] %}
                        <td><?php echo $this->Utility->dateTimeISO(${{ singularVar }}->{{ field }}); ?></td>
            {% elseif columnData.type in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                        <td><?php echo $this->Number->format(${{ singularVar }}->{{ field }}); ?></td>
            {% else %}
                        <td><?php echo h(${{ singularVar }}->{{ field }}); ?></td>
            {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                        <td class="actions">
                            <?php echo $this->Permission->getActions({{ pk|raw }}); ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <tr>
                        <td colspan="{{ countDisplayColumn }}"><?php echo __($this->Configure->read('APP.DISPLAY.NO_RESULT')); ?></td>
                    </tr>
                <?php endif; ?>
            </tbody>
        </table>
         </div><!-- ./box box-body -->
        <?php echo $this->element('utility/pagination'); ?>
    </div><!-- /box box-info box-result -->
</div>   
