{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
{% set bicon = action == 'add' ? 'fa-plus' : 'fa-pencil' %}
{% set continue = false %}
<div class="{{ pluralVar }} {{ pluralVar }}-{{ action }} form box box-{{ action == 'add' ? 'primary' : 'warning' }} box-submit box-{{ action }}">
    <?php echo $this->element('utility/boxOptionHeader', ['btitle' => __('{{ singularHumanName }} Management System => ( Add {{ singularHumanName }} )'), 'bicon' => '{{ bicon }}', 'bcollapse' => true, 'bclose' => true]); ?>
    <div class="box-body">
        <?php 
            echo $this->Form->create(${{ singularVar }}, ['horizontal' => true]);
{% for field in fields if field not in primaryKey %}
    {%- if keyFields[field] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}
            echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true]);
            {{- "\n" }}
        {%- else %}
            echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}]);
            {{- "\n" }}
        {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated', 'create_uid', 'update_uid'] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
            echo $this->Form->control('{{ field }}', ['type' => 'text', 'class' => 'datepicker']);
            {{- "\n" }}
        {%- elseif  field in ['status'] and action != 'add' %}
            echo $this->Form->control('{{ field }}', ['options' => $this->Utility->getMainStatus()]);
            {{- "\n" }}
        {%- elseif field not in ['status'] %}
            echo $this->Form->control('{{ field }}');
    {{- "\n" }}
        {%- endif %}
    {%- endif %}
{%- endfor %}

{%- if associations.BelongsToMany %}
    {%- for assocName, assocData in associations.BelongsToMany %}
            echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}]);
    {{- "\n" }}
    {%- endfor %}
{% endif %}
        ?>
        <div class="box-footer">
            <?php 
                echo $this->Permission->submit(__('{{ action == 'add' ? 'Save' : 'Edit' }}'), '/{{ pluralVar|camelize }}/{{ action }}', ['icon' => '{{ action == 'add' ? 'fa-save' : 'fa-pencil'}} ', 'class' => 'btn btn-{{ action == 'add' ? 'primary' : 'warning' }} btn-flat confirmModal', 'data-confirm-message' => __('Are you sure for {{ action }} {{ singularHumanName|humanize|underscore }} ?'), 'data-confirm-title' => __('Confirm for {{ action }} {{ singularHumanName|humanize|underscore }} ?')]);
                echo $this->Permission->buttonBack();
                echo $this->Form->end(); 
            ?>
        </div><!-- /div.box box-footer -->
    </div><!-- /div.box box-body -->
</div><!-- /div.box box-primary -->
