<style>

    .textpadding{
        padding:0px;
        padding-top: 15px;
        
        color:Gray;
    }
    .list-page {
        
        background-color: white;
        height: 60px;
        /* margin-top: 10px; */
        margin-bottom: 15px;
        



    }

    a:link,a:visited ,a:hover, a:active
    {
        color:black;
    }
    .square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: #3C9;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
    .square-box {
        position: relative;
        overflow: hidden;
        height: 60px;
    }
    .square-box:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    .gray{
        /* background-color: Gainsboro; */
        height: 100vw;
        padding-top: 10px;
        padding-bottom: 10px;
        
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 600;
        font-size: 12px;
    }
    body{
        background-color: Gainsboro;
    }
</style>
<div class="gray">
<div class="content">
        <div style="font-size:35px"><?php echo __('Notification');?></div>
	<?php 
	  /**
         * add By prasong.p
         * 30/05/2018
         * demo beacon
         */
        // foreach ($articleBeacons as $articleBeacon):
        //         $logo = $articleBeacon['cca']['path'];
            ?>
        
            <!-- <a class="list-page-high"  href="/feed/view/<?php echo $articleBeacon->id; ?>">
                
                <div class="row list-page">
                    <div class="col-xs-2 square-box">
                        <div class="square-content" style="background-image:url(/upload/image_title/<?php echo $logo ?>);  margin:0px;"></div>
                    </div>
                    <?php 
                        if(!in_array($articleBeacon['id'], $read)){
                            $readtext = 'class="col-xs-9 textpadding textbold"';
                            $arrow = 'class="col-xs-1 textpadding textbold"';
                        }else{
                            $readtext = 'class="col-xs-9 textpadding textnormal"';
                            $arrow = 'class="col-xs-1 textpadding textnormal"';
                        }
                    ?>

                    <div <?php echo $readtext ?>>
                        <?php echo ($articleBeacon->article_title) ?>
                    </div>
                    
                    <div <?php echo $arrow ?>>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
                
            </a> -->
     <?php 
        // endforeach; 
	/**
	* end demo beacon
	*/
	?>

        <?php 
            //  foreach ($feeds as $feed):
            // $logo = $feed['path'];
        ?>
        
        <!-- <a class="list-page-high"  href="/feed/view/<?php echo $feed->id; ?>">
            
                <div class="row list-page">
                    <div class="col-xs-2 square-box">
                        <div class="square-content" style="background-image:url(/upload/image_title/<?php echo $logo ?>);  margin:0px;"></div>
                    </div> -->
		    <?php 
                    // if(!in_array($feed->id, $read)){
                    //     $readtext = 'class="col-xs-9 textpadding textbold"';
                    //     $arrow = 'class="col-xs-1 textpadding textbold"';
                    // }else{
                    //     $readtext = 'class="col-xs-9 textpadding textnormal"';
                    //     $arrow = 'class="col-xs-1 textpadding textnormal"';
                    // }
                ?>
                    <!-- <div style=" padding-left:10px;"  <?php echo $readtext ?>>
                        <?php echo ($feed->article_title) ?>
                    </div>
                    <div style=" text-align: center;" class="col-xs-1 textpadding">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            
        </a> -->
        <?php //endforeach; ?>
    </div>
</div>
<?php $this->append('scriptBottom'); ?>
 <?php echo $this->element('utility/beacon'); ?>
<?php $this->end();?>

<style>
    .textbold{
        padding-left: 10px;
        font-weight: bold;
        font-size: 13px;
    }
    #textnormal{
        padding-left:10px;
        font-weight:normal;
        font-size: 13px;
    }
</style>